*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html,
body{
    width: 100%;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
}
body{ 
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav .logo{
    width: 100%;
}
nav .logo img{
    width: 250px;
}
main{
    background-color: #000101a8;
    max-width: 450px;
    margin: 0 auto 80px;
    padding: 50px;
    color: #737373;
}

main form h1{
    margin: 10px 0 20px 0;
    color: white;
    font-size: 40px;
}

main form .form-g > input{
    width: 100%;
    background-color: #333333;
    outline: none;
    border: none;
    height: 45px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    color: #737373;
}

main form .form-g button{
    width: 100%;
    background-color: #e50914;
    outline: none;
    border: none;
    height: 45px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.form-footer{
    margin-top: 20px;
}
.form-footer input[type=checkbox]{
    float: left;
}
.form-footer p{
    float: right;
}
.box-description{
    margin-top: 60px;
}
.box-description>a{
    text-decoration: none;
    color: #737373;
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.box-description a img{
    width: 25px;
    margin-right: 10px;
    border-radius: 3px;
}
.box-description p{
    margin: 12px 0;
}
.box-description p span{
    color: white;
}
.box-description p:last-child a{
    color: #0062ff;
    text-decoration: none;
}
.divider{
    background-color: #212121;
    width: 100%;
    height: 4px;
    display: none;
}
/*footer*/
.footer-login{
    padding: 20px;
    background-color:#000101a8 ;
}
.footer-login .box-footer{
    max-width: 1000px;
    margin: 0 auto;
}
.footer-login .box-footer .box-single{
    display: flex;
    margin-top: 25px;
    margin-bottom: 20px;
}
.box-footer p{
    color: #737373;
}
.box-footer .box-single ul{
    list-style: none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.box-footer .box-single ul li{
    width: 25%;
    padding: 10px 0;
}
.box-footer .box-single ul li a{
    color: #737373;
    text-decoration: none;
}
body{
    background-color: grey; background-blend-mode: multiply;
}